<div class="first_block">
  <div class="center">
    <div class="main_title">История ЛЭТИ</div>
    <img src="{{link}}">
  </div>
</div>


<div class="content">
  <h1 class="main-title">Почему важно изучать историю ЛЭТИ?</h1>
  <div class="text-box">
  <p class="text_content">Санкт-Петербургский государственный электротехнический университет «ЛЭТИ» – один из старейших
    и самых престижных
    технических вузов России. Его история неразрывно связана с развитием отечественной науки, электротехники и
    радиотехники.
    Изучение прошлого ЛЭТИ – это не просто погружение в архивные материалы, а увлекательное путешествие по вехам
    научного
    прогресса, выдающимся открытиям и судьбам великих учёных.</p>
  </div>
</div>

<div class="check_content">
  <h1 class="main-title">4 причины изучать историю ЛЭТИ</h1>
  <table>
    <tr>
      <td [@hover] = "isOpen" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
        <h2 class="title">ЛЭТИ – колыбель российской электротехники</h2>
        <p class="text">Основанный в 1886 году, университет стал первым в Европе, где начали готовить инженеров-электриков. <br>Здесь
          работали:</p>

        <p class="text">А. С. Попов – изобретатель радио,</p>

        <p class="text">Г. О. Графтио – создатель первых гидроэлектростанций,</p>

        <p class="text">М. А. Шателен – пионер высоковольтной техники.</p>

        <p class="text">Изучая историю ЛЭТИ, вы узнаете, как зарождались технологии, без которых невозможна современная жизнь.</p>
      </td>
      <td [@hover] = "isOpen_2" (mouseenter)="onMouseEnter_2()" (mouseleave)="onMouseLeave_2()">
        <h2 class="title">Вклад в мировую науку</h2>
        <p class="text">ЛЭТИ – это:</p>
        <p class="text">✅ Первая в России кафедра электротехники, </p>
        <p class="text">✅ Разработка первых радиопередатчиков,
        <p class="text">✅ Участие в создании советской космической программы.</p>

        <p class="text">Здесь учились и работали нобелевские лауреаты, академики и изобретатели, изменившие мир.</p>
      </td>
    </tr>

    <tr>
      <td [@hover] = "isOpen_3" (mouseenter)="onMouseEnter_3()" (mouseleave)="onMouseLeave_3()">
        <h2 class="title">Архитектура и традиции</h2>
        <p class="text">Кампус ЛЭТИ – это не только аудитории, но и памятники архитектуры:</p>
          <p class="text">🏛 Главный корпус в стиле неоклассицизма,</p>
          <p class="text">📡 Памятник А. С. Попову,</p>
          <p class="text">📚 Музей истории университета с уникальными экспонатами.</p>

          <p class="text">Прогуливаясь по коридорам вуза, можно почувствовать дух времени и прикоснуться к наследию прошлого.</p>
      </td>
      <td [@hover] = "isOpen_4" (mouseenter)="onMouseEnter_4()" (mouseleave)="onMouseLeave_4()">
        <h2 class="title">Связь поколений</h2>
        <p class="text">ЛЭТИ воспитал тысячи выдающихся инженеров, предпринимателей и учёных. Изучая их биографии, вы:</p>
          <p class="text">🔹 Поймёте, как развивалась инженерия,</p>
          <p class="text">🔹 Найдёте вдохновение для собственных проектов,</p>
          <p class="text">🔹 Осознаете, что являетесь частью великой научной школы.</p>
      </td>
    </tr>
  </table>
</div>
