.content {
  border-top: #05336e;
  margin-top: 1vh;
  padding: var(--var-sds-size-space-200, 100px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.text-box {
  width: 60%;
  padding: var(--var-sds-size-space-200, 10px);
  background-color: rgba(188, 207, 233, 0.377);
  border-radius: 20%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-start;
  margin-left: 100px;
}

.text_content {
  width: 80%;
  color: var(--var-sds-color-text-default-default, #05336e);
  text-align: center;
  font-family: var(--single-line-body-base-font-family,
      "Inter-Regular",
      sans-serif);
  font-size: var(--single-line-body-base-font-size, 20px);
  line-height: var(--single-line-body-base-line-height, 30px);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
}


.check_content {
  border-top: #05336e;
  margin-top: 1vh;
  padding: var(--var-sds-size-space-200, 100px);
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  position: relative;

}

td {
  width: 1%;
  border-radius: 10%;
  border-color: black;
  background-color: rgba(188, 207, 233, 0.377);
  margin-left: 5px;
}

table {
  border-spacing: 20px;
  border-collapse: separate;
}

.text {
  color: var(--var-sds-color-text-default-default, #05336e);
    text-align: left;
    font-family: var(--single-line-body-base-font-family,
        "Inter-Regular",
        sans-serif);
    font-size: var(--single-line-body-base-font-size, 20px);
    line-height: var(--single-line-body-base-line-height, 30px);
    font-weight: var(--single-line-body-base-font-weight, 400);
    position: relative;
    align-items: center;
    margin-left: 5%;

}

.title {
  color: var(--var-sds-color-text-default-default, #05336e);
    text-align: left;
    font-family: var(--single-line-body-base-font-family,
        "Inter-Regular",
        sans-serif);
    font-size: var(--single-line-body-base-font-size, 32px);
    line-height: var(--single-line-body-base-line-height, 30px);
    font-weight: var(--single-line-body-base-font-weight, 400);
    position: relative;
    margin-left: 10%;
    align-items: center;

}

.main-title {
  width: 500px;
  color: var(--var-sds-color-text-default-default, #05336e);
    text-align: left;
    font-family: var(--single-line-body-base-font-family,
        "Inter-Regular",
        sans-serif);
    font-size: var(--single-line-body-base-font-size, 40px);
    line-height: var(--single-line-body-base-line-height, 45px);
    font-weight: var(--single-line-body-base-font-weight, 400);
    position: relative;
    align-items: center;

}


.first_block {
  height: 100vh;
  padding: 5px;
  position: relative;
}


.first_block img {
  position: absolute;
  width: 45%;
  opacity: 0.3;
}




.center {
  margin-top: 30vh;
  padding: var(--var-sds-size-space-200, 100px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.main_title {
  color: var(--var-sds-color-text-brand-on-brand-secondary, #05336e);
  text-align: center;
  font-family: var(--single-line-body-base-font-family,
      "Inter-Regular",
      sans-serif);
  font-size: var(--single-line-body-base-font-size, 64px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
