<div class="content">
  <div class="title">ФКТИ</div>
  <div class="hist_treck" [@hover] = "isOpen" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">Г.Г.</div>
  <div class="hist_treck" [@hover] = "isOpen_2" (mouseenter)="onMouseEnter_2()" (mouseleave)="onMouseLeave_2()">Г.Г.</div>
  <div class="hist_treck" [@hover] = "isOpen_3" (mouseenter)="onMouseEnter_3()" (mouseleave)="onMouseLeave_3()">Г.Г.</div>
  <div class="hist_treck" [@hover] = "isOpen_4" (mouseenter)="onMouseEnter_4()" (mouseleave)="onMouseLeave_4()">Г.Г.</div>
  <div class="hist_treck" [@hover] = "isOpen_5" (mouseenter)="onMouseEnter_5()" (mouseleave)="onMouseLeave_5()">Г.Г.</div>
</div>
<div class="content">
  <div class="title">ФИБС</div>
  <div class="hist_treck" [@hover]="isOpen_6" (mouseenter)="onMouseEnter_6()" (mouseleave)="onMouseLeave_6()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_7" (mouseenter)="onMouseEnter_7()" (mouseleave)="onMouseLeave_7()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_8" (mouseenter)="onMouseEnter_8()" (mouseleave)="onMouseLeave_8()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_9" (mouseenter)="onMouseEnter_9()" (mouseleave)="onMouseLeave_9()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_10" (mouseenter)="onMouseEnter_10()" (mouseleave)="onMouseLeave_10()">Г.Г.</div>
</div>
<div class="content">
  <div class="title">ИНПРОТЕХ</div>
  <div class="hist_treck" [@hover]="isOpen_11" (mouseenter)="onMouseEnter_11()" (mouseleave)="onMouseLeave_11()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_12" (mouseenter)="onMouseEnter_12()" (mouseleave)="onMouseLeave_12()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_13" (mouseenter)="onMouseEnter_13()" (mouseleave)="onMouseLeave_13()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_14" (mouseenter)="onMouseEnter_14()" (mouseleave)="onMouseLeave_14()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_15" (mouseenter)="onMouseEnter_15()" (mouseleave)="onMouseLeave_15()">Г.Г.</div>
</div>
<div class="content">
  <div class="title">ФЭЛ</div>
  <div class="hist_treck" [@hover]="isOpen_16" (mouseenter)="onMouseEnter_16()" (mouseleave)="onMouseLeave_16()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_17" (mouseenter)="onMouseEnter_17()" (mouseleave)="onMouseLeave_17()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_18" (mouseenter)="onMouseEnter_18()" (mouseleave)="onMouseLeave_18()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_19" (mouseenter)="onMouseEnter_19()" (mouseleave)="onMouseLeave_19()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_20" (mouseenter)="onMouseEnter_20()" (mouseleave)="onMouseLeave_20()">Г.Г.</div>
</div>

<div class="content">
  <div class="title">ГФ</div>
  <div class="hist_treck" [@hover]="isOpen_21" (mouseenter)="onMouseEnter_21()" (mouseleave)="onMouseLeave_21()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_22" (mouseenter)="onMouseEnter_22()" (mouseleave)="onMouseLeave_22()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_23" (mouseenter)="onMouseEnter_23()" (mouseleave)="onMouseLeave_23()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_24" (mouseenter)="onMouseEnter_24()" (mouseleave)="onMouseLeave_24()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_25" (mouseenter)="onMouseEnter_25()" (mouseleave)="onMouseLeave_25()">Г.Г.</div>
</div>
<div class="content">
  <div class="title">ФЭА</div>
  <div class="hist_treck" [@hover]="isOpen_26" (mouseenter)="onMouseEnter_26()" (mouseleave)="onMouseLeave_26()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_27" (mouseenter)="onMouseEnter_27()" (mouseleave)="onMouseLeave_27()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_28" (mouseenter)="onMouseEnter_28()" (mouseleave)="onMouseLeave_28()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_29" (mouseenter)="onMouseEnter_29()" (mouseleave)="onMouseLeave_29()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_30" (mouseenter)="onMouseEnter_30()" (mouseleave)="onMouseLeave_30()">Г.Г.</div>
</div>
<div class="content">
  <div class="title">ФРТ</div>
  <div class="hist_treck" [@hover]="isOpen_31" (mouseenter)="onMouseEnter_31()" (mouseleave)="onMouseLeave_31()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_32" (mouseenter)="onMouseEnter_32()" (mouseleave)="onMouseLeave_32()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_33" (mouseenter)="onMouseEnter_33()" (mouseleave)="onMouseLeave_33()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_34" (mouseenter)="onMouseEnter_34()" (mouseleave)="onMouseLeave_34()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_35" (mouseenter)="onMouseEnter_35()" (mouseleave)="onMouseLeave_35()">Г.Г.</div>
</div>

<div class="content">
  <div class="title">ИФИО</div>
  <div class="hist_treck" [@hover]="isOpen_36" (mouseenter)="onMouseEnter_36()" (mouseleave)="onMouseLeave_36()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_37" (mouseenter)="onMouseEnter_37()" (mouseleave)="onMouseLeave_37()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_38" (mouseenter)="onMouseEnter_38()" (mouseleave)="onMouseLeave_38()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_39" (mouseenter)="onMouseEnter_39()" (mouseleave)="onMouseLeave_39()">Г.Г.</div>
  <div class="hist_treck" [@hover]="isOpen_40" (mouseenter)="onMouseEnter_40()" (mouseleave)="onMouseLeave_40()">Г.Г.</div>
</div>
