<div class="box_main">Контактная информация университета</div>
<div class="content">
  <table>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/universitet/administraciya/">Ректорат</a></td>
      <td class="min">+7 812 234-46-51</td>
      <td class="min"><a class="mail" href="mailto:info@etu.ru">info&#64;etu.ru</a></td>
    </tr>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/abiturientam/priemnaya-komissiya-universiteta">Приёмная комиссия</a></td>
      <td class="min">+7 800 550-43-35 <br>
      +7 812 655-13-57</td>
      <td class="min"><a class="mail" href="mailto:prcom@etu.ru">prcom&#64;etu.ru</a></td>
    </tr>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/abiturientam/">Центр «Абитуриент»</a></td>
      <td class="min">+7 812 346-44-49</td>
      <td class="min"><a class="mail" href="mailto:abitleti-dp@etu.ru">abitleti-dp&#64;etu.ru</a>, <br>
      <a class="mail" href="mailto:dovuz@etu.ru">dovuz&#64;etu.ru</a></td>
    </tr>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/fakultety/fakultet-radiotehniki-i-telekommunikaciy/">Факультет радиотехники и телекоммуникаций (ФРТ)</a></td>
      <td class="min">+7 812 234-25-76</td>
      <td class="min"><a class="mail" href="mailto:frt@etu.ru">frt&#64;etu.ru</a></td>
    </tr>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/fakultety/fakultet-elektroniki/">Факультет электроники (ФЭЛ)</a></td>
      <td class="min">+7 812 234-40-63</td>
      <td class="min"><a class="mail" href="mailto:avsolomonov@etu.ru">avsolomonov&#64;etu.ru</a></td>
    </tr>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/fakultety/fkti/">Факультет компьютерных технологий и информатики (ФКТИ)</a></td>
      <td class="min">+7 812 234-27-46</td>
      <td class="min"></td>
    </tr>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/fakultety/fakultet-elektrotehniki-i-avtomatiki/">Факультет электротехники и автоматики (ФЭА)</a></td>
      <td class="min">+7 812 234-39-32</td>
      <td class="min"></td>
    </tr>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/fakultety/fibs/">Факультет информационно-измерительных и биотехнических систем (ФИБС)</a></td>
      <td class="min">+7 812 234-30-59</td>
      <td class="min"><a class="mail" href="mailto:fibs@etu.ru">fibs&#64;etu.ru</a></td>
    </tr>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/fakultety/inproteh/">Институт инновационного проектирования и технологического предпринимательства (ИНПРОТЕХ)</a></td>
      <td class="min">+7 812 346-29-24</td>
      <td class="min"><a class="mail" href="mailto:fem@etu.ru">fem&#64;etu.ru</a></td>
    </tr>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/fakultety/gumanitarnyy-fakultet/">Гуманитарный факультет (ГФ)</a></td>
      <td class="min">+7 812 234-26-18</td>
      <td class="min"></td>
    </tr>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/fakultety/voennyj-centr/">Военный учебный центр</a></td>
      <td class="min">+7 812 234-01-58</td>
      <td class="min"></td>
    </tr>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/povyshenie-kvalifikacii/institut-nepreryvnogo-obrazovaniya/">Институт непрерывного образования (ИНО) СПбГЭТУ</a></td>
      <td class="min">+7 812 346-28-18</td>
      <td class="min"><a class="mail" href="mailto:ino@etu.ru">ino&#64;etu.ru</a></td>
    </tr>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/obrazovatelnaya-deyatelnost/aspirantura-i-doktornatura/">Отдел аспирантуры и докторантуры</a></td>
      <td class="min">+7 812 346-47-34</td>
      <td class="min"><a  class="mail"href="mailto:avtumarkin@etu.ru">avtumarkin&#64;etu.ru</a></td>
    </tr>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/mezhdunarodnaya-deyatelnost/mezhdunarodnye-sluzhby-spbgjetu-ljeti/">Международные службы</a></td>
      <td class="min">+7 812 234-35-53</td>
      <td class="min"><a  class="mail"href="mailto:2343553@mail.ru">2343553&#64;mail.ru</a></td>
    </tr>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/vospitatelnaya-i-socialnaya/upravlenie-korporativnyh-i-vneshnih-kommunikacij/oso/">Отдел по связям с общественностью</a></td>
      <td class="min">+7 812 346-46-41</td>
      <td class="min"><a class="mail" href="mailto:oso@etu.ru">oso&#64;etu.ru</a></td>
    </tr>
    <tr>
      <td class="max"><a>Пресс-служба</a></td>
      <td class="min">+7 812 346-46-41</td>
      <td class="min"><a class="mail" href="mailto:oso@etu.ru">oso&#64;etu.ru</a></td>
    </tr>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/studentam/studencheskaya-kancelyariya/">Студенческая канцелярия</a></td>
      <td class="min">+7 812 346-45-14</td>
      <td class="min"><a class="mail" href="mailto:studk@etu.ru">studk&#64;etu.ru</a></td>
    </tr>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/sotrudnikam/kancelyariya">Канцелярия</a></td>
      <td class="min">+7 812 234-25-82</td>
      <td class="min"><a class="mail" href="mailto:mailkanc@etu.ru">mailkanc&#64;etu.ru</a></td>
    </tr>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/sotrudnikam/upravlenie-po-rabote-s-personalom/arhiv">Архив университета</a></td>
      <td class="min">+7 812 655-13-78</td>
      <td class="min"></td>
    </tr>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/upravlenie-informacionnyh-tehnologiy/">Управление информационных технологий</a></td>
      <td class="min">+7 812 346-17-24</td>
      <td class="min"><a class="mail" href="mailto:uit@etu.ru">uit&#64;etu.ru</a></td>
    </tr>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/gazeta-elektrik/redakciya/">Редакция газеты «Электрик»</a></td>
      <td class="min">+7 812 346-08-71</td>
      <td class="min"><a class="mail" href="mailto:gazeta@etu.ru">gazeta&#64;etu.ru</a></td>
    </tr>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/universitet/istoriya-universiteta/">Музейный комплекс</a></td>
      <td class="min">+7 812 234-59-00</td>
      <td class="min"><a class="mail" href="mailto:radioemc@yandex.ru">radioemc&#64;yandex.ru</a></td>
    </tr>
    <tr>
      <td class="max"><a href="https://etu.ru/ru/sotrudnikam/napravlenie-kompleksnoj-bezopasnosti-universiteta/otdel-organizacii-propusknogo-i-vnutriobektovogo-rezhima">Отдел пропускного и внутриобъектового режима</a></td>
      <td class="min">+7 812 234-05-95 <br>
      +7 812 234-42-95 <br> (круглосуточно)</td>
      <td class="min"><a class="mail" href="mailto:dutyservice@etu.ru">dutyservice&#64;etu.ru</a></td>
    </tr>
  </table>
</div>

